* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:  #59944b;
  transition: color 0.5s ease;
}

a:hover {
  color: black;
}

body {
  font-family: serif;
  background: url('./img/crow_background.png');
  background-attachment: scroll, local;  
  margin: auto;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  letter-spacing: 0.03em;
}

i {
  color: #00aaaa;
  font-size: 2em;
}

/* img {
  max-height: 100px;
  max-width: 100px;
  border-radius: 5px;
  margin-right: 10px;
} */

h1{
  font-family: cursive;
}

h2{
  font-family:serif
}

label {
  display: block;
}
nav {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.678);
  overflow: auto;
}
nav a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

nav a:hover{
  background-color: rgba(5, 3, 0, 0.445);

}

nav a.active{
  background-color: #04AA6D;
}
form div {
  margin: 2em;
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
}


i.fa {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.2s ease;
}

i.fa:hover {
  color: #00aa006c;
}

td {
  border-bottom: 1px solid gray;
  padding: 10px;
}

/* fact{
  display: inline-block;
    width:160px;
    height:160px;
    border: 1px solid green;
} */
#app {
  height: 100%;
  width: 100%;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  width: 100%;
  height: 50px;
  background-color: #eee;
  color: gray;
  align-items: center;
  justify-content: space-evenly;
}

.active {
  border-bottom: 1px solid gray;
}

.author {
  align-items: center;
  padding: 15px;
}

.author:hover {
  background-color: #eee;
}

.center {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.comment {
  border: 1px solid gray;
  background-color: #fff;
  padding: 1em;
  margin: 1em;
}

.comment h5 {
  color: gray;
}

.container {
  height: 100%;
  width: 100%;
}

.gray {
  color: gray;
}

.story {
  width: 300px;
}

.story h3 {
  color: black;
  margin: 10px;
}

.story p {
  margin-left: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.mr1 {
  margin-right: 1em;
}

.crow-button {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 254, 254);
  border: 0px;

}
.crow-button {
  transition-duration: 0.4s;
}

.crow-button:hover {
  background-color: #04aa6da2; /* Green */
  background-image: url('./img/black-crow-hover.png');
  color: white;
  /* background: url("./img/black-crow-hover.png") no-repeat; */
}

.fact {
  padding: 30px;
  background-color: #fdfdfd; /* Green */
}
