body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}



fact{
  display: inline-block;
    width:160px;
    height:160px;
    border: 1px solid green;
}
